/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/

.theme-orman.slider-wrapper {
	margin-top: 10px;
    background: url(../images/templatemo_sliderbg.png) no-repeat;
    width: 960px;
    height: 340px;
    padding: 10px 10px 53px 10px;
    position:relative;
}

.theme-orman .nivoSlider {
    position:relative;
    width:960px;
    height:340px;
    background:url(../images/loading.gif) no-repeat 50% 50%;
}
.theme-orman .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:960px; /* Make sure your images are the same size */
    height:340px; /* Make sure your images are the same size */
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}

.theme-orman .nivo-controlNav {
    position:absolute;
	left:50%;
	bottom: -30px;
    margin-left:-30px; /* Tweak this to center bullets */
}
.theme-orman .nivo-controlNav a {
    display:block;
    width:10px;
    height:10px;
    background:url(../images/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
    float:left;
}
.theme-orman .nivo-controlNav a.active {
    background-position:0 -10px;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width:25px;
	height: 240px;
	background:url(../images/arrows.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
    top:40px;
}
.theme-orman a.nivo-nextNav {
	background-position:100% 50%;
	right:-35px;
    padding-right:20px;
}
.theme-orman a.nivo-prevNav {
	left:-35px;
    padding-left:20px;
}

.theme-orman .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-orman .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-orman .nivo-caption a:hover { 
    color:#fff;
}

.theme-orman .ribbon {
    /*background:url(../images/ribbon.png) no-repeat;*/
    width:111px;
    height:111px;
    position:absolute;
    top:-4px;
    left: -4px;
    z-index:300;
}